.contact {
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  color: whitesmoke;
  background-color: #d2a56c;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  opacity: .8;
  height: 40%;
  margin-top: 12rem;
}

.background {
  display: flex;
}

h2.email {
  margin-top: 15px;
}